//-websocket을 위한 부분(채팅) 필요한 스크립트는 layout에 틀을 형성
extends layout
block content
  ul#messages
  form
    input#name(type='text', readonly=true, placeholder='name')
    input#m(type='text', autocomplete='off', placeholder='type message')
    button Send
    a.btn.btn-primary(href='/') 홈으로
  script#template(type='text/template').
    <li class='<%= type%>'>
      <span class='name'><%= from%></span>
      <span class='text'><%= message %></span>
      <div class='clearfix'></div>
    </li>