doctype html
html(lang='ko')
    head
        meta(charset='UTF-8')
        | 	
        title Speed Travel Guide
        | 	
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        | 	
        link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
        | 	
        link(href='http://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='http://malsup.github.com/jquery.cycle2.js')
        | 	
        script.
            function resize(obj) {
            obj.style.height = "1px";
            obj.style.height = (20+obj.scrollHeight)+"px";
            }
    body
        #wrapper
            h1
                a(href='/') Speed Travel Guide
            // Begin Navigation Bar
            #navWrapper
                ul#nav
                    li.item
                        a(href='/food')  먹거리 여행 
                    | 				
                    li.item
                        a(href='/sea')  바다 여행
                    | 				
                    li.item
                        a(href='/photo')  사진 여행 
                    | 				
                    li.item
                        a(href='/activity')  액티비티 여행 
                    | 				
                    li.item
                        a(href='/best') Best 여행
                    | 				
                    li.item1
                        a(href='posts/contact')  문의 
            // Begin main contact
            .content
                #mainContent
                    .cycle-slideshow
                        img(src='images/1.jpg')
                        | 					
                        img(src='images/2.jpg')
                        | 					
                        img(src='images/3.jpg')
                        | 					
                        img(src='images/4.jpg')
                        | 					
                        img(src='images/5.jpg')
                        | 					
                     
                    | 				
                    p
                        | Welcome to 
                        strong Speed Travel Guide
                        | ! Looking for Rail-ro Trip? But don't know where to visit, what to eat? Let's plan your trip with me! In this website, I will share information about Rail-ro Trip. This information based on Rail-ro traveler. Let's explore and start our trip!
                | 			
                #index_memo
                    h2 Information
                    | 				
                    ul
                        li
                            a(target='_blank', href='http://www.rail-ro.com/new/main/index.php') 내일로 홈페이지
                        | 					
                        li
                            a(target='_blank', href='http://www.rail-ro.com/new/about/about_01.php') 내일로 티켓소개
                        | 					
                        li
                            a(target='_blank', href='http://www.letskorail.com/') 내일로 티켓구입
                        | 					
                        li
                            a(target='_blank', href='http://cafe.naver.com/hkct') '바이 트레인'
                        | 					
                        li
                            a(target='_blank', href='https://www.facebook.com/korailro ') 공식 페이스북
                        | 					
                        li
                            a(target='_blank', href='http://band.us/@railro#!/band/56594511 ') 네이버 밴드
        // Begin footer
        #footer
            p
                b
                    | (주)명지대학교   /   제작자 김재한 정연훈 임윤정   /   대표번호 
                    b
                        | 010 5195 0890   / 문의사항 이메일 :  
                        a(href='mailto:mju6013@naver.com') mju6013@nver.com
                        |  카카오톡ID :  jem0890 
                        br
                        |  문의시간 :  월~금  11:00 ~ 17:00   /   © 2016 Speed Travel Guide
