doctype html
html(lang='ko')
  head
    block title
      title SpeedGuide
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style_c.css')
    link(href='http://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js') 	
    script(src='http://malsup.github.com/jquery.cycle2.js')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')


  body
    block top-nav
     

    block hero-unit


     block content