/*Body*/
	body{
		padding: 0;
		margin-right: 260px;
		background-image: url("/images/bg12.jpg");
		font-family: "Calibri", san-serif;
		
	}
	a{
		text-decoration: none;
		color: #E6AC27;
	}

	/* wrapper */
	#wrapper{
		width: 60%;
		margin: 0 auto;
		min-width: 880px;
		color: white;
	}

	/* Page Title */
	h1{
		width: 100%;
		margin: 0 auto;
		padding: 5% 0;

		text-align: center;
		font-family: 'Courgette', cursive;
		color: #E6AC27;
		font-size: 300%;
	}
	/* navigation */
	#nav{
		width:100%;
		margin:0 auto;
		padding:0;

	}

	#nav a{
		text-decoration: none;
		color: white;
		display: block;
		margin: 0 auto;
		padding: 0;
		font-size: 120%;
		font-family: "Calibri", san-serif;
	}

	li.item
	{
		list-style-type: none;
		width: 18%;
		height: 40px;
		margin-left: 1%;
		line-height: 40px;
		position:relative;
		float:left;
		text-align:center;
		font-weight:bold;
		border: 3px #DBB2C3 solid;  
		background-color: rgba(246,247,189,0.2);
		border-radius: 10px;
	}
	/* Best여행 테마 */
	.item1{
		list-style: none;
		width: 8%;
		height: 30px;
		margin-top: 1%;
		padding: 0;
		line-height: 30px;
		position: relative;
		right: 30px; top: 30px;
		float: right;
		text-align:center;
		font-weight:bold;
		border: 3px #DBB2C3 solid;  
		background-color: rgba(246,247,189,0.2);
		border-radius: 10px;
	}
   
	ul#nav li.item:hover,
	ul#nav li.item1:hover{
		background-color:rgba(246,247,189,0.5);
	}
	ul#nav li.item1{
		background-color: rgba(246,247,189,0.2);
	}

	/*  Article */
	.content{
		width: 90%;
		background-color: rgba(246,247,189,0.2);
		border: 2px #DBB2C3 solid;
		margin: 125px auto 50px auto;
		padding: 2.5%;
		border-radius: 10px;
		overflow: hidden;
	}

	/* Memo */
	#memo{
		width: 25%;
		height: 300px;
		border-radius: 5px;
		background-color: rgba(255,255,255, 0.5);
		float: right;
		color: black;
		float: right;
		position: fixed;
		top: 120px; right: 20px;
		overflow: visible;
		overflow-x: hidden;
	}

	/*remote control*/
	#navbar{
		width: 4%;
		height: 130px;
		border-radius: 10px;
		background-color: rgba(255,255,255, 0.5);
		float: right;
		padding: 0 1%; 
		color: black;
		float: right;
		position: fixed;
		top: 500px; right: 170px;
		overflow: visible;
		overflow-x: hidden;


	}
	

	#memo {
		text-align: center;
	}
	
	#navbar span{
		font-size: 17px;
		font-weight: bold;
	}
	#navbar li{
		width:40px;
		list-style: none;
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 13px;
	}
	#navbar li a{
		color: #091D42;	
	}
	#navbar ul{padding: 0; margin: 10px 0;}
	#memo textarea{
		width: 150px;
		overflow:visible;
		background-color: rgba(255,255,255,0.05);
		border-color: rgba(255,255,255,0.05);
	}
	#memo input[type="submit"]{
		background-color: rgba(255,255,255,0.05);
		position: relative;
		
	}

	/*각 컨텐츠의 제목*/
	#Content h1, form h1{
		text-shadow: 1px 1px 1px #660033;
		padding-top: 0;
		padding-bottom: 2.5%;
		text-align: center;
		color: #F5D0AA;

	}


	/*footer*/
	#footer{
		
		height: 50px;
		width: 850px;
		text-align: center;
		font-size: 80%;
		color: #660033;
		font-family: 'Courgette', cursive;
		position: relative;
		bottom: 10px; 
		background-color: rgba(255,255,255, 0.3);
		border: 2px #DBB2C3 solid;
		border-radius: 10px;
		margin: 22px auto;
		padding: 5px;
	}
	#footer p{
		color: black;
	}
	#footer a{
		color: black;
	}
	/*region*/
	#region #name{ font-size: 1.3em }
	#region li{ list-style: none; padding-top: 5px; margin-bottom: 3px; }
	#region h2{
		color: #2C1D30;
		font-weight: bold;
	}

	@media screen and (max-device-width : 760px){
  	#wrapper{ 
		min-width: 100%;
		margin-left: 80px;
	}
	#wrapper h1 a{ 
	font-size: 23px;
	float: right;
	margin-top: 200px;
	}
	li.item{
		width: 120%;
	}
	.item1{
		left: 10px;
		top: 5px;
	}
	li.item1{
		width: inherit;
	}
	#mainContent{
		width: 100%;
	}
	#index_memo{
		width: 100%;
	}
	#footer {
		width: 250%;
		font-size: 15px;
		height: 150px;
		margin-left : 70px;
	}
	#Content h1{
		font-size: 28px;
	}
	#navbar{
		right: 300px;
		width: 15%;

	}
	#expPhoto li{
		left: 0;
		width: 100%
	}
	.content{
		height: 1200px;
		width: 250%;

	}
	#co{
		text-align: center;
	}
	#memo{
		height: 180px;
		width: 90%;
		top: 0;
	}
}