
/*채팅 화면 관련 디자인*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 3em; }

a {
  color: #00B7FF; }

form {
  background: rgba(211,213,192,0.3);
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%; }
  form input#name {
    border: 0;
    padding: 10px;
    width: 5%;
    margin-right: .5%;
    background: greenyellow;
    color: #fff; }
  form input#m {
    border: 0;
    padding: 10px;
    width: 80%;
    margin-right: .5%; }
  form button {
    width: 5%;
    background: greenyellow;
    border: none;
    padding: 7px; }

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #messages li {
    padding: 0.5em 1em;
    background:rgba(240,240,74,0.3);  }
    #messages li:nth-child(odd) {
      background:rgba(240,240,74,0.3); }
    #messages li span {
      padding: 0.5em; }
    #messages li .name {
      font-weight: bold;
      color: #fff;
      background-color: #369;
      display: inline-block;
      text-align: center;
      border-radius: 1em; }
    #messages li.mine {
      background: rgba(199,205,150,0.5); }
      #messages li.mine:nth-child(odd) {
        background: rgba(199,205,150,0.5); }
      #messages li.mine .text {
        float: right; }
      #messages li.mine .name {
        display: none; }
    #messages li.direct {
      background: #f6ccff; }


/*모바일가능*/
  @media screen and (max-device-width : 760px){
  form input#name {
    width: 20%;
  }
  form button{
    width: 20%;
  }
  form input#m{
    width: 95%;
  }
}