//-엑티비티 클릭시 보여지는 부분

doctype html
html(lang='ko')
    head
        meta(charset='UTF-8')
        | 	
        title Speed Travel Guide
        | 	
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        | 	
        link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
        | 	
        link(href='http://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')
        script(src='/bower_components/lodash/lodash.min.js')
        script(src='/bower_components/jquery/dist/jquery.js')
        | 	
        script.
            function resize(obj) {
            obj.style.height = "1px";
            obj.style.height = (20+obj.scrollHeight)+"px";
            }
    body
        #wrapper
            h1
                a(href='/') Speed Travel Guide
            // Begin Navigation Bar
            #navWrapper
                ul#nav
                    li.item
                        a(href='/food')  먹거리 여행 
                    | 				
                    li.item
                        a(href='/sea')  바다 여행
                    | 				
                    li.item
                        a(href='/photo')  사진 여행 
                    | 				
                    li.item
                        a(href='/activity')  액티비티 여행 
                    | 				
                    li.item
                        a(href='/best') Best 여행
                    | 				
                    li.item1
                        a(href='/posts/contact')  문의 
            // Begin main contact
            #Content.content
                h1 Theme for Activity
                | 			
                ul#expPhoto
                    li
                        a(href='/activity/bike')
                            img#bikeimg(src='images/bike.jpg', at='bike')
                            | 						
                            span.photoText
                                span
                                    | 자전거
                                    br
                                    | Bike
                    | 				
                    li
                        a(href='/activity/camp')
                            img#campingimg(src='images/camping.jpg', alt='camping')
                            | 						
                            span.photoText
                                span
                                    | 캠핑
                                    br
                                    | Camping
                    | 				
                    li
                        a(href='/activity/tracking')
                            img#trekkingimg(src='images/trekking.jpg', alt='trekking')
                            | 						
                            span.photoText
                                span
                                    | 트래킹
                                    br
                                    | Trekking
                    | 				
                    li
                        a(href='/activity/young')
                            img#youngimg(src='images/young.jpg', alt='young')
                            | 						
                            span.photoText
                                span
                                    | 청춘
                                    br
                                    | Young
                | 			
                #memo(onkeyup='resize(this)')
                    h3 여행지 검색
                    form(action ='/city/search', method ='POST')  
                        .form-group
                            input(type='text', id='city', name = 'city', size=8, placeholder='도시명')
                            ul.suggest-box                              
                        button.btn.btn-primary(type='submit') 검색
                    script(src='/javascripts/search.js') 
        // Begin footer
        #footer
            p
                b
                    | (주)명지대학교   /   제작자 김재한 정연훈 임윤정   /   대표번호 
                    b
                        | 010 5195 0890   / 문의사항 이메일 :  
                        a(href='mailto:mju6013@naver.com') mju6013@nver.com
                        |  카카오톡ID :  jem0890 
                        |  문의시간 :  월~금  11:00 ~ 17:00   /   © 2016 Speed Travel Guide
