//-best1 클릭시 보여지는 부분


doctype html
html(lang='ko')
    head
        meta(charset='UTF-8')
        | 	
        title Speed Travel Guide
        | 	
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        | 	
        link(type='text/css', rel='stylesheet', href='/stylesheets/style_c.css')
        | 	
        link(href='http://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')
        script(src='/bower_components/lodash/lodash.min.js')
        script(src='/bower_components/jquery/dist/jquery.js')
        | 	
        script.
            function resize(obj) {
            obj.style.height = "1px";
            obj.style.height = (20+obj.scrollHeight)+"px";
            }
    body
        #wrapper
            h1
                a(href='/') Speed Travel Guide
            // Begin Navigation Bar
            #navWrapper
                ul#nav
                    li.item
                        a(href='/food')  먹거리 여행 
                    | 				
                    li.item
                        a(href='/sea')  바다 여행
                    | 				
                    li.item
                        a(href='/photo')  사진 여행 
                    | 				
                    li.item
                        a(href='/activity')  액티비티 여행 
                    | 				
                    li.item
                        a(href='/best') Best 여행
                    | 				
                    li.item1
                        a(href='/posts/contact')  문의 
            // Begin main contact
            #Content.content
                h1 Best No.1
                | 			
                | 			
                ul#expPhoto
                    li
                        a(href='/city/gangleng')
                            img(src='/images/강릉_b1.jpg')
                            | 					
                            span.photoText
                                span 강릉
                    | 				
                    li
                        a(href='/city/andong')
                            img(src='/images/안동_b1.jpg')
                            | 					
                            span.photoText
                                span 안동
                    | 				
                    li
                        a(href='/city/gyoungju')
                            img(src='/images/경주_b1.jpg')
                            | 					
                            span.photoText
                                span 경주
                    | 			
                    | 				
                    li#upper
                        a(href='/city/busan')
                            img(src='/images/부산_b1.jpg')
                            | 					
                            span.photoText
                                span 부산
                    | 				
                    li#upper
                        a(href='/city/soonchun')
                            img(src='/images/순천_b1.jpg')
                            | 					
                            span.photoText
                                span 순천
                    | 				
                    li#upper
                        a(href='/city/jenju')
                            img(src='/images/전주_b1.jpg')
                            | 					
                            span.photoText
                                span 전주
                | 			
                #memo(onkeyup='resize(this)')
                    h3 여행지 검색
                    form(action ='/city/search', method ='POST')  
                        .form-group
                            input(type='text', id='city', name = 'city', size=8, placeholder='도시명')
                            ul.suggest-box                              
                        button.btn.btn-primary(type='submit') 검색
                    script(src='/javascripts/search.js') 
                | 			
                table
                    tr
                        td#co
                            | * 추천 코스 : 강릉 -> 안동 -> 경주 -> 부산 -> 순천 -> 전주  
                            br
                            br
                    | 		
                    tr
                        td
                    | 		
                    tr
                        td 강릉: 대관령하늘목장, 안목해변
                    | 		
                    tr
                        td 안동: 병산서원, 월영교야경, 하회마을
                    | 		
                    tr
                        td 경주: 자전거투어, 안압지, 양동마을, 보문호
                    | 		
                    tr
                        td 부산: 법기수원지, 해운대해수욕장, 광안대교야경
                    | 		
                    tr
                        td 순천: 순천만, 순천만정원, 선암사, 공마당둘레길
                    | 		
                    tr
                        td 전주: 한옥마을, 막걸리골목, 오목대야경
        // Begin footer
        #footer
            p
                b
                    | (주)명지대학교   /   제작자 김재한 정연훈 임윤정   /   대표번호 
                    b
                        | 010 5195 0890   / 문의사항 이메일 :  
                        a(href='mailto:mju6013@naver.com') mju6013@nver.com
                        |  카카오톡ID :  jem0890 
                        br
                        |  문의시간 :  월~금  11:00 ~ 17:00   /   © 2016 Speed Travel Guide
