doctype html
html(lang='ko')
    head
        meta(charset='UTF-8')
        | 	
        title Speed Travel Guide
        | 	
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        | 	
        link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
        | 	
        link(href='http://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')
        | 	
        script.
            function resize(obj) {
            obj.style.height = "1px";
            obj.style.height = (20+obj.scrollHeight)+"px";
            }
    body
        #wrapper
            h1
                a(href='/') Speed Travel Guide
            // Begin Navigation Bar
            #navWrapper
                ul#nav
                    li.item
                        a(href='/food')  먹거리 여행 
                    | 				
                    li.item
                        a(href='/sea')  바다 여행
                    | 				
                    li.item
                        a(href='/photo')  사진 여행 
                    | 				
                    li.item
                        a(href='/activity')  액티비티 여행 
                    | 				
                    li.item
                        a(href='/best') Best 여행
                    | 				
                    li.item1
                        a(href='/posts/contact')  문의 
            // Begin main contact
            #Content.content
                h1 Theme for Best
                | 			
                ul#expPhoto
                    li
                        a(href='/best/best1')
                            img#firstbestimg(src='images/firstbest.jpg', at='Best1')
                            | 						
                            span.photoText
                                span
                                    | 베스트
                                    br
                                    | No.1
                    | 				
                    li
                        a(href='/best/best2')
                            img#secondbestimg(src='images/secondbest.jpg', alt='Best2')
                            | 						
                            span.photoText
                                span
                                    | 베스트
                                    br
                                    | No.2
                    | 				
                    li
                        a(href='/best/best3')
                            img#thirdbestimg(src='images/thirdbest.jpg', alt='Best3')
                            | 						
                            span.photoText
                                span
                                    | 베스트
                                    br
                                    | No.3
                    | 				
                    li
                        a(href='/best/best4')
                            img#fourthbestimg(src='images/fourthbest.png', alt='Best4')
                            | 						
                            span.photoText
                                span
                                    | 베스트
                                    br
                                    | No.4
                | 			
                #memo(onkeyup='resize(this)')
                    h3 여행지 검색
                    form(action ='/city/search', method ='POST')  
                        .form-group
                            input(type='text', id='city', name = 'city', size=8, placeholder='도시명')                       
                        button.btn.btn-primary(type='submit') 검색
        // Begin footer
        #footer
            p
                b
                    | (주)명지대학교   /   제작자 김재한 정연훈 임윤정   /   대표번호 
                    b
                        | 010 5195 0890   / 문의사항 이메일 :  
                        a(href='mailto:mju6013@naver.com') mju6013@nver.com
                        |  카카오톡ID :  jem0890 
                        br
                        |  문의시간 :  월~금  11:00 ~ 17:00   /   © 2016 Speed Travel Guide
