doctype html
html(lang='ko')
    head
        meta(charset='UTF-8')
        | 	
        title Speed Travel Guide
        | 	
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        | 	
        link(type='text/css', rel='stylesheet', href='/stylesheets/style_c.css')
        | 	
        link(href='http://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')
        script(src='/bower_components/lodash/lodash.min.js')
        script(src='/bower_components/jquery/dist/jquery.js')
        | 	
        script.
            function resize(obj) {
            obj.style.height = "1px";
            obj.style.height = (20+obj.scrollHeight)+"px";
            }
    body
        #wrapper
            h1
                a(href='/') Speed Travel Guide
            // Begin Navigation Bar
            #navWrapper
                ul#nav
                    li.item
                        a(href='/food')  먹거리 여행 
                    | 				
                    li.item
                        a(href='/sea')  바다 여행
                    | 				
                    li.item
                        a(href='/photo')  사진 여행 
                    | 				
                    li.item
                        a(href='/activity')  액티비티 여행 
                    | 				
                    li.item
                        a(href='/best') Best 여행
                    | 				
                    li.item1
                        a(href='/posts/contact')  문의 
            // Begin main contact
            #Content.content
                h1 EastSea
                | 			
                ul#expPhoto
                    li
                        a(href='/city/gosung')
                            img(src='/images/고성_e.jpg')
                            | 					
                            span.photoText
                                span 고성
                    | 				
                    li
                        a(href='/city/gangleng')
                            img(src='/images/강릉_e.jpg')
                            | 					
                            span.photoText
                                span 강릉
                    | 				
                    li
                        a(href='/city/yangyang')
                            img(src='/images/양양_e.jpg')
                            | 					
                            span.photoText
                                span 양양
                    | 			
                    | 				
                    li#upper
                        a(href='/city/donghe')
                            img(src='/images/동해_e.jpg')
                            | 					
                            span.photoText
                                span 동해
                    | 				
                    li#upper
                        a(href='/city/uljin')
                            img(src='/images/울진_e.jpg')
                            | 					
                            span.photoText
                                span 울진
                    | 				
                    li#upper
                        a(href='/city/pohang')
                            img(src='/images/포항_e.jpg')
                            | 					
                            span.photoText
                                span 포항
                | 			
                #memo(onkeyup='resize(this)')
                    h3 여행지 검색
                    form(action ='/city/search', method ='POST')  
                        .form-group
                            input(type='text', id='city', name = 'city', size=8, placeholder='도시명')
                            ul.suggest-box                              
                        button.btn.btn-primary(type='submit') 검색
                    script(src='/javascripts/search.js') 
                | 			
                table
                    tr
                        td#co
                            | * 추천 코스 : 고성 -> 강릉 -> 양양 -> 동해 -> 울진 ->포항 
                            br
                            br
                    | 		
                    tr
                        td
                    | 		
                    tr
                        td 고성 : 화진포해수욕장 
                    | 		
                    tr
                        td 강릉 : 경포해수욕장
                    | 		
                    tr
                        td 양양 : 낙산해수욕장
                    | 		
                    tr
                        td 동해 : 망상해수욕장
                    | 		
                    tr
                        td 울진 : 망양해수욕장
                    | 		
                    tr
                        td 포항 : 구룡포해수욕장
        // Begin footer
        #footer
            p
                b
                    | (주)명지대학교   /   제작자 김재한 정연훈 임윤정   /   대표번호 
                    b
                        | 010 5195 0890   / 문의사항 이메일 :  
                        a(href='mailto:mju6013@naver.com') mju6013@nver.com
                        |  카카오톡ID :  jem0890 
                        br
                        |  문의시간 :  월~금  11:00 ~ 17:00   /   © 2016 Speed Travel Guide
